@model Project01.Models.ContactInfo
<br/>

<h1>@ViewBag.Title</h1>

<h5>Name: @Model.FirstName @Model.LastName</h5>
<h5>Adress: @Model.Adress</h5>
<h5>City: @Model.PostalCode @Model.City </h5>
<h5>Mobile: @Model.Mobile </h5>
<h5>Email: @Model.Email </h5>


