
@model  List<Project01.Models.Order>

<h1>Orders</h1>


<h4>@ViewBag.Message</h4>

@using (Html.BeginForm("SearchOrder", "Order", FormMethod.Post))
{
    <div class="form-group form-inline">

        @Html.TextBox("Find", null, new { @class = "form-control" })

        <input type="submit" value="Find" class="btn btn-sm btn-info" />

    </div>
}


<div class="col-xs-2"> Order id </div>
<div class="col-xs-3"> Order date </div>
<div class="col-xs-2"> Total </div>
<div class="col-xs-3"> Email </div>
<div class="col-xs-1">  </div>
<div class="col-xs-1">  </div>

<br />
<hr />


<div class="container" id="showPartial">

    @foreach (var item in Model)
    {
        Html.RenderAction("RenderOrder", "Order", new { p = item });
    }

</div>



<br />
<h4>Add order:</h4>

@using (Html.BeginForm("AddOrder", "Order", FormMethod.Post))
{

    <div class="form-group form-inline">

        <div class="col-xs-12">

            @Html.Label("Order total :")
            @Html.TextBox("Total", null, new { @class = "form-control" })

            @Html.Label("Email :")
            @Html.TextBox("Email", null, new { @class = "form-control" })




        </div>

            <input type="submit" value="Add" class="btn btn-sm btn-info" />


        </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

