@model Project01.VM.AppUserVM
@{
    ViewBag.Title = "Register user";
}

<h1>@ViewBag.Title</h1>

<h4>@ViewBag.Message</h4>




    @using (Html.BeginForm("AddUser", "Account", FormMethod.Post))
    {
       <div class="form-group form-inline">

           <div class="col-xs-3">
               @Html.LabelFor(model => model.UserName)
               <input name="UserName" class="form-control" />

               @Html.LabelFor(model => model.FirstName)
               <input name="FirstName" class="form-control" />

               @Html.LabelFor(model => model.LastName)
               <input name="LastName" class="form-control" />
           </div>

           <div class="col-xs-3">

               @Html.LabelFor(model => model.Password)
               <input type="password" name="Password" class="form-control" />

               @Html.LabelFor(model => model.ConfirmPassword)
               <input type="password" name="ConfirmPassword" class="form-control" />

               @Html.LabelFor(model => model.Email)
               <input name="Email" class="form-control" />

           </div>

           <div class="col-xs-3">

               @Html.LabelFor(model => model.PhoneNumber)
               <input name="PhoneNumber" class="form-control" />

               @Html.LabelFor(model => model.Address)
               <input name="Address" class="form-control" />

               @Html.LabelFor(model => model.PostalCode)
               <input name="PostalCode" class="form-control" />

           </div>

           <div class="col-xs-3">


               @Html.LabelFor(m => m.Admin)
               <input type="checkbox" name="Admin" value="True" />

               <input type="submit" value="Register" class="btn btn-sm btn-info" />

           </div>


           </div>

            @Html.ValidationSummary();

            }






     <script src="~/Scripts/jquery-1.10.2.min.js"></script>
     <script src="~/Scripts/jquery.validate.min.js"></script>
     <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
     <script src="~/scripts/bootstrap.min.js"></script>

