
@model  List<Project01.Models.Cart>

<h1>Cart</h1>


<h4>@ViewBag.Message</h4>

@using (Html.BeginForm("SearchCart", "Cart", FormMethod.Post))
{
    <div class="form-group form-inline">

        @Html.TextBox("Search", null, new { @class = "form-control" })

        <input type="submit" value="Search" class="btn btn-sm btn-info" />

    </div>
}

<div class="col-xs-3"> ID . CartId </div>
<div class="col-xs-2"> ItemId </div>
<div class="col-xs-1"> Price </div>
<div class="col-xs-1"> Quantity </div>
<div class="col-xs-3"> DateCreated </div>
<div class="col-xs-1">  </div>
<div class="col-xs-1">  </div>

<br />
<hr />

<div class="container" id="showPartial">

    @foreach (var item in Model)
    {
        Html.RenderAction("RenderCart", "Cart", new { p = item });
    }

</div>



<br />
<h4>Add Cart:</h4>

@using (Html.BeginForm("AddCart", "Cart", FormMethod.Post))
{

    <div class="form-group form-inline">


        @Html.Label("Cart Id :")
        @Html.TextBox("CartId", null, new { @class = "form-control" })

        @Html.Label("Item Id :")
        @Html.TextBox("ItemId", null, new { @class = "form-control" })

        @Html.Label("Price :")
        @Html.TextBox("Price", null, new { @class = "form-control" })


        @Html.Label("Quantity :")
        @Html.TextBox("Quantity", null, new { @class = "form-control" })

        <input type="submit" value="Add" class="btn btn-sm btn-info" />


    </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

