@model  Project01.Models.Cart

<li class="list-group-item col-sm-6"> Id: @Model.ID  Cart Id: @Model.CartId Item Id: @Model.ItemId Quantity: @Model.Quantity Unit price: @Model.Price Date created: @Model.DateCreated </li>
<li class="list-group-item">
    @Html.ActionLink("Delete", "Delete", "Cart", new { search = Model.ID }, 0)
</li>
