@model Project01.Models.Cart



<div id="Cart-@Model.ID">
    @using (Ajax.BeginForm("Edit", "Cart", new { id = Model.ID },
                                                            new AjaxOptions
                                                            {
                                                                HttpMethod = "POST",
                                                                UpdateTargetId = "Cart-" + Model.ID,
                                                                InsertionMode = InsertionMode.Replace
                                                            }))
    {


        <div>
            @Html.TextBoxFor(x => Model.ID, new { @type = "hidden" })
        </div>

        <div class="col-xs-2">
            @Html.TextBoxFor(m => Model.CartId, new { })
        </div>
        <div class="col-xs-2">
            @Html.TextBoxFor(m => Model.ItemId, new { })

        </div>
        <div class="col-xs-2">
            @Html.TextBoxFor(m => Model.Price, new { })
        </div>
        <div class="col-xs-2">
            @Html.TextBoxFor(m => Model.Quantity, new { })
        </div>
        <div class="col-xs-2">
            @Html.TextBoxFor(m => Model.DateCreated, new { })
        </div>


        <div class="col-xs-1">
            <input type="submit" value="Save" class="btn btn-sm btn-info" />
        </div>
    }




    <div class="col-xs-1">

        @using (Ajax.BeginForm("Cancel", "Cart", new { id = Model.ID },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "Cart-" + Model.ID,
                                    InsertionMode = InsertionMode.Replace
                                }))


        {
            <input type="submit" value="Cancel" class="btn btn-sm btn-info" />
        }
    </div>



</div>

