@model  Project01.VM.ItemVM




<li class="list-group-item col-sm-6"> @Model.ItemId : @Model.Name Pris: @Model.Price In stock: @Model.StockQty : @Model.Description : @Model.Picture </li>




<li class="list-group-item">
    @Html.ActionLink("Delete", "Delete", "Item", new { search = Model.Name }, null)
</li>

