@model  Project01.Models.OrderDetail 

<li class="list-group-item col-sm-6"> Order detail Id: @Model.OrderDetailId Order Id: @Model.OrderId Item Id: @Model.ItemId Quantity: @Model.Quantity Unit price: @Model.UnitPrice </li>
<li class="list-group-item">
    @Html.ActionLink("Delete", "Delete", "OrderDetail", new { search = Model.OrderDetailId }, 0)
</li>

