@model Project01.VM.HistoryVM

<div id="History-@Model.OrderId">

    <div class="col-xs-12">
        <div class="col-xs-1"> @Model.OrderId</div>
        <div class="col-xs-3"> @Model.ItemName </div>
        <div class="col-xs-2"> @Model.Price </div>
        <div class="col-xs-2"> @Model.Quantity </div>
        <div class="col-xs-4"> @Model.OrderDate </div>
    </div>

</div>


