
@model  Project01.VM.UserVM

    <li class="list-group-item col-sm-6"> @Model.FirstName @Model.LastName : @Model.Email : @Model.City : @Model.Country : @Model.PhoneNumber : @Model.Address : @Model.PostalCode </li>
    <li class="list-group-item">
       @Html.ActionLink("Delete", "Delete", "User", new { find = Model.Email }, null)
    </li>






