
@model  List<Project01.Models.OrderDetail>

<h1>Order details</h1>


<h4>@ViewBag.Message</h4>

@using (Html.BeginForm("SearchOrderDetail", "OrderDetail", FormMethod.Post))
{
    <div class="form-group form-inline">

        @Html.TextBox("Find", null, new { @class = "form-control" })

        <input type="submit" value="Find" class="btn btn-sm btn-info" />

    </div>
}


<div class="col-xs-2"> Order detail id </div>
<div class="col-xs-2"> Order id </div>
<div class="col-xs-2"> Item id </div>
<div class="col-xs-2"> Quantity </div>
<div class="col-xs-2"> Unit price </div>
<div class="col-xs-1">  </div>
<div class="col-xs-1">  </div>

<br />
<hr />

<div class="container" id="showPartial">

    @foreach (var item in Model)
    {
        Html.RenderAction("RenderOrderDetail", "OrderDetail", new { p = item });
    }

</div>

<br />
<h4>Add order detail:</h4>

@using (Html.BeginForm("AddOrderDetail", "OrderDetail", FormMethod.Post))
{

    <div class="form-group form-inline">


            @Html.Label("Order Id :")
            @Html.TextBox("OrderId", null, new { @class = "form-control" })

            @Html.Label("Item Id :")
            @Html.TextBox("ItemId", null, new { @class = "form-control" })

            @Html.Label("Quantity :")
            @Html.TextBox("Quantity", null, new { @class = "form-control" })


            @Html.Label("Unit price :")
            @Html.TextBox("UnitPrice", null, new { @class = "form-control" })

            <input type="submit" value="Add" class="btn btn-sm btn-info" />


    </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
